@import '../settings';
@import '../buttons';

.mrc-bottom-navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  height: $topbar-height-mobile;
  width: 100vw;
  background-color: $metro-blue;
  color: white;
  display: flex;
  justify-content: space-between;

  .btn {
    display: flex;
    width: 80px;
    padding: .75em;
    color: inherit;
    cursor: pointer;
  }

  .active {
    background-color: $sky-blue;
  }

  .mrc-burger-menu {
    order: 99; // Right side
  }

  img {
    width: 100%;
    height: 100%;
  }
  .back-arrow {
    transform:scale(1.3);
  }

  &.bottom-toolbar {
    width: 100%;
  }
}

