@import '../settings';

.mrc-burgermenu-overlay {
  position: fixed;
  right: 0;
  bottom: 75px;
  height: 2.25em;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 8px 24px 0 rgba(68,68,68,0.2);
  transition: 500ms;

  .line {
    height: 1.99px;
    width:100%;
    border: 1px solid #EEEEEE;
  }

  .fill {
    height: 39.77px;
    width: 100%;
    background-color: #FFFFFF;

    .indicator {
      border: 7px solid #FFFFFF;
      border-left-color: transparent;
      border-top-color: transparent;
      transform: rotate(45deg);
      position: absolute;
      right: 35px;
      box-shadow: 0 8px 24px 0 rgba(68,68,68,0.2);
    }
  }

  .link {
    left: 15px;
    color: #1A3B7A;
    font-size: 16px;
    line-height: 26px;
    padding-left: 15px;
    padding-top: 7px;
  }
}

