@import '../settings';

.mrc-contextual-menu-wrapper {
  position: fixed;
  bottom: 3em;
  right: 0;
  left:0;
}

.mrc-contextual-menu {
  overflow: hidden;
}

.mrc-contextual-menu-button .m-input {
  margin-bottom: .5rem;
}
