@import '../settings';
@import '../helpers';

.mrc-sidebar {
  height: calc(100vh - 80px);

  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navigation;

  z-index: $z-index-nav;

  .mrc-language {
    margin: 2em 0;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.back-action {
  //position: fixed;
  bottom: 10px;
}
.mrc-language select {
  text-transform: capitalize;
}
