@import '../settings';
@import '../helpers';

.mrc-sidebar-navigation {

  grid-area: navigation;
  z-index: $z-index-nav;
  position: relative;
  background-color: $metro-blue;
  width: $topbar-height-tablet;
  border-top: 1px solid $nav-border-top-color;

  -ms-grid-row: 2;
  -ms-grid-column: 1;

  nav {
    height: 100%;
    position: relative;
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul a {
    display: block;
    padding: 1.75em;
    height: $topbar-height-tablet;
    width: $topbar-height-tablet;
  }

  a > * {
    display: flex;
  }

  .end {
    order: 99; // End
  }

  .btn {
    cursor: pointer;
  }
}
