@import '../settings';
@import '../helpers';

.mrc-sidebar {

  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navigation;

  z-index: $z-index-nav;

  .mrc-language {
    margin: 2em 0;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
