@import '../lib/scss/card-styles';
@import '../lib/scss/variables';
@import '../lib/scss/typography';
@import '../lib/scss/colors';

.mrc-ui-check-card {
  @include card-primary-white();
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  justify-content: space-around;
  min-height: 4.5rem;
  padding: $spacing-small $spacing-medium;
}

.mrc-ui-check-card-no-content {
  justify-content: center;
}

.mrc-ui-check-card-checked {
  @include card-succcess();
}

.mrc-ui-check-card-invalid {
  @include card-error();
}

.mrc-ui-check-card-disabled {
  @include background-color-pattern-disabled();
  cursor: not-allowed;
}

.mrc-ui-check-card-small {
  min-height: 0;
}

.mrc-ui-check-card-head-row {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr max-content;
  grid-gap: $spacing-medium;
}

.mrc-ui-check-card-title {
  text-transform: uppercase;
  color: $color-palette-grey-tint-40;
  font-size: $font-size-8;
  font-weight: 600;
  line-height: $line-height-title;
  
  @at-root .mrc-ui-check-card-no-content #{&} {
    text-transform: none;
    font-weight: 600;
    font-size: $font-size-6;
  }
  
  @at-root .mrc-ui-check-card-checked #{&} {
    color: $color-palette-green-shade-20;
    font-weight: bold;
  }

  @at-root .mrc-ui-check-card-invalid #{&} {
    color: $color-danger;
  }
  
  @at-root .mrc-ui-check-card-disabled #{&} {
    color: $color-disabled;
  }
}

.mrc-ui-check-card-checkmark {
  opacity: 0;

  @at-root .mrc-ui-check-card-checked #{&} {
    opacity: 1;
  }
}

.mrc-ui-check-card-extra-row {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-top: $spacing-small;
}

.mrc-ui-check-card-value {
  margin-left: $spacing-small;
}
