.mrc-data-table {
    padding: 20px;
    background-color: white;

    .data-table-wrapper {
        margin-top: 20px;
    }

    .table-header {
        top: auto;
        margin-bottom: 20px;
    }

    .data-table-heading  {
        display: flex;
        align-items: center;
    }

    table {
        border: none;
        border-spacing: 0;
    }

    td, th {
        line-height: 1.5rem;
        font-weight: 400;
        white-space: nowrap;
    }

    .col-scroll {
        width: auto;
        overflow-x: scroll;
        overflow-y: visible;
    }

    .row-title {
        z-index: 100;
        position: sticky;
        top: auto;
        left: 0;
        min-width: 150px;
        text-align: left;
        overflow: hidden;
        border-right: 1px solid;
        background-color: white;
    }

    th { padding-right: 20px; }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        text-align: right;
        padding-left: 20px;
    }

    .payments {
        td, tr, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
            text-align: left;
            padding-right: 20px;
            padding-left: 0;
        }
    }

    .emphazised {
        th, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
            font-weight: 700;
        }
    }

    .break {
        th, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        padding-bottom: 20px;
        }
    }
}
