@import "../settings";

.mrc-status-bar {
  width: 100%;
  height: 48px;
  color: white;
  font-weight: 400;
  background-color: $success-green;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.warning {
    background-color: $warning-orange;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 12px;
  }
}
