@import "../lib/scss/main.scss";
$max-segments: 10;

@mixin segmented-controls($amount: 2, $width: $width-4, $margin: $spacing-none, $active: inherit) {
    $_margin: $margin * 2;
    $_width: 100% / $amount;

    display: flex;
    align-items: center;
    max-width: $width * $amount;
    width: 100%;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 1;
    > input {
        display: none;
        &:checked + label {
            color: $active;
            // background-color: $color-interaction;
        }

        &:not(:checked) + label:hover {
            background-color: $color-palette-blue-tint-80;
        }

        @for $i from 1 through $amount {
            $index: $i - 1;
            &:nth-of-type(#{$i}):checked ~ label:last-of-type:before {
                transform: translateX(calc(#{100 * $index}% + #{$_margin * $index}));
                }
        }
    }
    label {
        flex: 1;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        &:last-of-type:before {
            content: "";
            display: block;
            max-width: calc(#{$_width} - #{$_margin});
            margin: $margin;
            position: absolute;
            top: $spacing-none;
            right: $spacing-none;
            bottom: $spacing-none;
            left: $spacing-none;
            z-index: -1;
            transform: translateX(0);
        }
    }
}

%segmented-styles {
    margin: $spacing-small auto;
    font-weight: bold;
    border: $border-width-thin solid $color-interaction;
    border-radius: $border-radius-small;
    color: $color-interaction;
    box-sizing: content-box !important;
    label {
        padding: $spacing-small $spacing-medium;
        transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
        &:before {
            background: $color-interaction;
            transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
        }
        &:not(:last-child) {
            border-right: 1px solid $color-interaction;
        }
    }
}

@mixin x-segemented-control-list {
  @for $i from 1 through $max-segments {
    .mrc-ui-#{$i}-segmented-control {
        @include segmented-controls($i, 180px, 0px, $color-contrast-white);
        @extend %segmented-styles;
    }
  }
}

@include x-segemented-control-list;

  