@import '../../settings';

.mrc-limit-expiry {
    padding-top: 0.45rem;

    .mrc-radio-button {
        margin: 1rem 0rem 0rem 0rem;
    }

    .m-radioButton-inputIcon {
        border-radius: 0%;
    }

    .m-raidoButton-raidoIcon {
        border-radius: 100%;
    }

    .date-picker-icon {
        float: right;
        margin: -1.85rem 0.75rem 0.5rem;
        position: relative;
        z-index: 2;
    }

    fieldset {
        margin-top: -1.45rem;
    }

    .limit-expiry-reset {
        margin-top: 1.5rem;
    }

    .react-datepicker__input-container input:not(.mrc-ui-datepicker-input) {
        z-index: 10;
        position: relative;
        background-color: transparent;
    }

    .react-datepicker__input-container input:disabled:not(.mrc-ui-datepicker-input) {
        z-index: 0 !important;
        color: #99a1ad !important;
        background-color: #f2f3f5 !important;
    }

    .react-datepicker-popper {
        z-index: 20 !important;
    }

    .mrc-credit-data-editor input {
        background-color: transparent;
        z-index: 10;
        position: relative;
    }

    .mrc-credit-data-editor input:disabled {
        z-index: 0 !important;
        color: #99a1ad !important;
        background-color: #f2f3f5 !important;
    }

    .mrc-credit-data-editor .m-input-iconLink {
        z-index: 20;
        overflow: hidden;
        position: absolute;
    }
}

.mrc-block-list {
    grid-column: span 2;

    dt:before {
        content: '';
        display: block;
    }

    dt,
    dd {
        display: inline;
        color: red !important;
    }

    dt:after {
        content: ': ';
    }

    dl {
        margin-bottom: 2em;
    }
}
