@import "../settings";

.mrc-accordion {
  // see https://github.com/glennflanagan/react-collapsible/blob/develop/example/_src/sass/components/_Collapsible.scss
  // The main container element
  .Collapsible {
    @include respond-to('tablet') {
      padding-bottom: 10px;
    }


  }

  //The content within the collapsible area
  .Collapsible__contentInner {
    border: 1px solid $light-grey;
    border-top: 0;
  }

  //The link which when clicked opens the collapsible area
  .Collapsible__trigger {

    .trigger-content {
      height: 54px;
      background-color: $form-bg;
      border-bottom: $form-border;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 0 1rem;

      @include respond-to('tablet') {
        padding: 0 1rem;
      }

      h1 {
        color: $metro-blue;
        font-size: $text-flow;
        font-weight: 500;
        width: 100%;
      }

      img {
        transition: transform 200ms;
        transform: rotateZ(90deg);
        width: 18px;
        height: 18px;

        @include respond-to('tablet') {
          width: 24px;
          height: 24px;
        }
      }
    }

    &.is-open {
      .trigger-content {
        img {
          transform: rotateZ(-90deg);
        }
      }
    }

    &.is-disabled {
      opacity: 0.5;
      background-color: $light-grey;
    }
  }
}
