@import "settings";

fieldset {
  border-style: none;
  border-bottom: $form-border;
  background-color: $form-bg;
  padding: 20px 18px;
  width: 100%;
}

input[disabled] {
  background-color: $form-bg-disabled;
}

input:focus {
  border-color: $sky-blue;
  outline: none;
}

label {
  font-size: $text-flow;
  color: $form-label-color;
  font-weight: 400;
}

select {
  height: 40px;
  border: 1px solid #eeeeee;
  margin-top: 5px;
  padding: 5px 15px;
}

.mrc-input {
  .mrc-icon {
    > * {
      // form-height - (2*parent-padding) - (2*parent-margin)
      $icon-size: $form-height - (2*5)- (2*2) - 2;
      width: $icon-size;
      height: $icon-size;

      display: inline-block;
      background-repeat: no-repeat;
    }
  }

  .mrc-icon-search {
    background-image: url(icons/search.svg);
  }
}

