@charset "UTF-8";
@import "component-library/public/css/bundle.css";
@import "settings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 300;
  color: $metro-blue;
  background-color: $mother-of-all-bg;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $metro-blue;
}

// For IE
main, section, article {
  display: block;
}

// Override of ux-hub style
main {
  height: 100%;
  margin-bottom: unset;
}

// UX Hub sets this to none, which is really bad for click handlers. See toggleBurgerMenu.
a.active { pointer-events: auto; }

// Base config of the main grid
.mrc-grid-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  padding-bottom: 56px;
  overflow-x: hidden;

  -ms-grid-columns: $topbar-height-mobile 1fr;
  grid-template-columns: $topbar-height-mobile auto;

  -ms-grid-rows: $topbar-height-mobile 1fr;
  grid-template-rows: $topbar-height-mobile auto;

  grid-template-areas: "metro-logo   topbar" "content      content";

  // Phone is not supported
  /*@include respond-to('phone') {
      height: 85vh;
  }*/

  @include respond-to('tablet') {
    height: 100vh;
    overflow: visible;
    -ms-grid-columns: $topbar-height-tablet 1fr;
    grid-template-columns: $topbar-height-tablet auto;

    -ms-grid-rows: $topbar-height-tablet 1fr;
    grid-template-rows: $topbar-height-tablet auto;
    grid-template-areas:
      "metro-logo   topbar"
      "navigation   content";
  }

  &.no-topbar {
    @include respond-to('tablet') {
      grid-template-areas:
        "metro-logo   content"
        "navigation   content";
    }
  }
}

.mrc-main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  width:100vw;

  @include respond-to('tablet') {
    overflow: auto;
    width: unset;
  }


}

.metro-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: metro-logo;

  z-index: $z-index-nav;
  transform: none !important;
  padding: 19px;
  height: $topbar-height-mobile;
  width: $topbar-height-mobile;
  background-color: $metro-blue;

  @include respond-to('tablet') {
    padding: 25px;
    height: $topbar-height-tablet;
    width: $topbar-height-tablet;
    position: fixed;
  }
}

@import "forms";
