@import "settings";

// see https://github.com/reactjs/react-tabs/blob/master/style/react-tabs.scss
.react-tabs {

  > ul {
    list-style: none;
  }

  &__tab-list {
    background-color: white;
    border: 1px solid $light-grey;
  }

  &__tab {
    display: inline-block;
    border-right: 1px solid $light-grey;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    color: $light-blue;
    font-size: $small-text;
    font-weight: 500;
    text-transform: uppercase;

    &--selected {
      background: #fff;
      color: $sky-blue;
    }

    &:focus {
      outline: none;
    }
  }

  &__tab-panel {
    display: none;
    background-color: $light-grey;
    padding: 0;

    &--selected {
      display: block;
    }

    &--disabled {
      color: $light-grey;
      cursor: default;
    }
  }
}
