@import "../settings";

.mrc-attachments {
    padding: 20px;
    background-color: white;
    width:100%;

    .tiles-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
    }

    form {
    margin-top: 30px;
    }

    .m-input {
        margin-bottom: 0;
    }
    button {
        color: $sky-blue;
        background-color: white;
    }
}