@import "../settings";

.mrc-attachments {
  padding: 20px;
  background-color: white;
  width: 100%;

  .tiles-mobile {
    margin: 20px;
    display: block;
    @include respond-to('tablet') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }

  form {
    margin-top: 30px;
  }

  .m-input {
    margin-bottom: 0;
  }
  button {
    color: $sky-blue;
    background-color: white;
  }
}

input {
  margin-bottom: 0px;
  width: 100%;
  min-width: 200px;
  font-size: $text-flow;
}
