@import "../settings";

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

#select-file-type {
  margin-top: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.mrc-attachments-rows {
  list-style: none;
  padding: 1.3em 0 0 0;

  li{
    margin-bottom: 20px;
  }

  .mrc-attachments-rows-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8125em;
    font-weight: 400;
    flex-wrap: wrap;
    color: #1A3B7A;

    .mrc-attachments-rows-container {
      justify-content: space-between;
      display: inline-grid;
      width: 100%;

      @include respond-to('tablet') {
        display: flex;
        width: 50%;
      }
    }

    .mrc-attachments-rows-user {
      flex-grow: 0;
      line-height: 1.3em;
    }
  }
}
