@import '../../settings';

.mrc-approval-process {
  padding: 0;
  //@include respond-to('tablet') {
  //  padding: 0 $content-padding-horizontal-tablet;
  //}

  .actions {
    background-color: $form-bg;
    padding: 10px;
    text-align: center;
  }

  .action-buttons {
    display: inline-grid;
    @include respond-to('tablet') {
      display: block;
    }
  }
  .table-group-limit {
    text-align: right;
  }
  .td-right {
    min-width: 70px;
    text-align: right;
  }
  .td-left {
    min-width: 70px;
    text-align: left;
  }
  .mrc-primary-button {
    font-size: $small-text;
    display: inline;
    margin: 0 0px;

    @include respond-to('tablet') {
      margin: 0 20px;
    }

    button {
      min-width: 80px;
      max-width: 80px;
      margin: auto;
      display: inline;
    }
  }

  .trigger-content {
    height: 48px;
  }

  .mrc-assigned-name {
    margin-top: 1rem;
    text-align: center;
  }

  .mrc-collateral-retry .mrc-collateral-retry-buttons {
    justify-content: left;
    padding-left: 1rem;
  }

  .mrc-details {
    padding: 1em;
    background-color: white;
  }
}

.requests-history-icon {
  position: fixed;
  right: 0px;
  top: 100px;
  z-index: 10;
}

.slide-pane {
  background: rgb(255, 255, 255) !important;
}

.mrc-sliding-pane {
  background-color: rgb(255, 255, 255);
}

.mrc-primary-button {
  background-color: $mrc-blue;
}

.mrc-error-button {
  color: $warning-orange;
  background-color: white;
  border: 2px solid $warning-orange;
}

.mrc-error-button:hover {
  color: $warning-orange-light;
  background-color: white;
  border: 2px solid $warning-orange-light;
}

.mrc-ui-col-3 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  margin-bottom: 15px;
}

.mrc-ui-col-2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .mrc-ui-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .mrc-ui-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .span-1-2 {
    grid-column: 1 / 3;
  }
  .span-1-3 {
    grid-column: 1 / 4;
  }
}

.small-margin {
    margin: 1rem;
}
