@import "../settings";

.mrc-credit-programs {

   select {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    @include respond-to('tablet'){
      width:25%;
    }

    option {
      font-size: 16px;
      font-weight: 300;
    }
  }

  label {
    font-size: $text-flow;
    margin-right: 40%;
    @include respond-to('tablet'){
      margin-right: 80%;
    }
  }

}

