@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-page-subtitle-customer {
  font-weight: bold;
  font-size: $font-size-10;
  line-height: $line-height-copy;
}

.mrc-ui-page-subtitle-customer-name {
  color: $color-palette-grey-tint-40;
  margin-right: $spacing-small;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mrc-ui-page-subtitle-customer-id {
  color: $color-palette-grey-tint-60;
  margin-right: $spacing-small;
}
