@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-main-content {
    padding: 0;
}

.mrc-ui-email-service-table {
    margin-bottom: $spacing-extra-extra-extra-large;
}