@import '../lib/scss/colors.scss';
@import '../lib/scss/variables';
@import '../lib/scss/typography';

.mrc-ui-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1010;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    background-color: $color-palette-grey-tint-95;
}

.mrc-ui-modal-title {
  font-size: $font-size-6;
  text-align: center;
  margin: $spacing-none;
  background-color: $color-contrast-white;
  border-bottom: $border-width-thin solid $color-palette-grey-tint-80;
  padding: $spacing-medium;
}

.mrc-ui-modal-content {
  padding: $spacing-medium $spacing-medium;
  width: 100%;
  overflow-y: auto !important;
}

.body--modal-open {
  overflow: hidden !important;
  height: 100vh;
}

@media #{$breakpoint-not-small} {
  .mrc-ui-modal-title {
    border-top-left-radius: $border-radius-medium;
    border-top-right-radius: $border-radius-medium;
  }
  .mrc-ui-modal {
    border-radius: $border-radius-medium;
    max-width: 44rem;
    max-height: 95%;
    height: auto;
  }
}

.mrc-ui-modal-close-button {
  position: absolute;
  z-index: 1000;
  height: 55px;
  right: $spacing-extra-small;
  margin: $spacing-none;
  border: $spacing-none;
  padding: $spacing-none;
}

.mrc-ui-modal-overlay {
  background-color: $color-contrast-black;
  opacity: 0.4;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media #{$breakpoint-not-small} {
  .mrc-ui-button-secondary {
    order: -1;
  }
}

// quick fix to avoid overflow problems in modal context
.mrc-ui-modal .react-datepicker-popper {
  position: relative !important;
  transform: none !important;
}

.mrc-ui-modal-simple-buttons {
  display: flex;
  justify-content: center;
  margin-top: $spacing-large;
  
  > :first-child {
    margin-right: $spacing-small;
  }
}
