@import '../lib/scss/main.scss';

.mrc-ui-modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;
  
    /* Probably need media queries here */

    width: 100%;
    height: 100%;
    
    position: fixed;
  
    z-index: 1010;
  
    left: 50%;
    top: 30%;
  
    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -30%);
  
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */
    background-color: $color-palette-grey-tint-95;
}

.mrc-ui-modal-title {
  font-size: $font-size-6;
  text-align: center;
  margin: $spacing-none;
  background-color: $color-contrast-white;
  border-bottom: $border-width-thin solid $color-palette-grey-tint-80;
  padding: $spacing-medium;
}

.mrc-ui-modal-content {
  padding: $spacing-medium $spacing-medium;
  overflow: auto;
}

@media #{$breakpoint-not-small} {
  .mrc-ui-modal-title {
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;
  }
  .mrc-ui-modal {
    border-radius: $border-radius-small;
    max-width: 44rem;
    height: auto;
  }
}

.mrc-ui-modal-close-button {
  position: absolute;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1000;
  
  
  height: 55px;
  right: $spacing-extra-small;
  
  /* needs to look OK with or without scrollbar */
  margin: $spacing-none;

  border: $spacing-none;
  padding: $spacing-none;

}

.mrc-ui-modal-overlay {
  background-color: $color-contrast-black;
  opacity: 0.4;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media #{$breakpoint-not-small} {
  .mrc-ui-button-secondary {
    order: -1;
  }
}
