@import '../lib/scss/colors';
@import '../lib/scss/form-styles';

.mrc-ui-search-input-wrapper {
  @include input-shell();
  position: relative;
  display: flex;
  align-items: stretch;
  background: $color-contrast-white;
}

.mrc-ui-search-input-wrapper-disabled {
  @include input-disabled-style();
}

.mrc-ui-search-input {
  @include input-input();
  flex-grow: 1;
}

.mrc-ui-search-clear {
  align-self: center;
  margin: 0 .75rem;
  cursor: pointer;
}

.mrc-ui-search-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  // position: absolute;
  height: $height-input;
  right: $spacing-small;
  // top: 0;
}
