@import '../lib/scss/form-styles';

.mrc-ui-search {
  position: relative;
}

.mrc-ui-search-input {
  @include input-base();
}

.mrc-ui-search-icon {
  display: flex;
  align-items: center;
  position: absolute;
  height: $height-input;
  right: $spacing-small;
  top: 0;
}
