@import '../lib/scss/colors';

.mrc-ui-bullet {
  height: 1rem; // $mrc-icon-sm
  width:  1rem; // $mrc-icon-sm
  border-radius: 50%;
}

.mrc-ui-bullet-default {
  background-color: $color-palette-grey-tint-60;
}

.mrc-ui-bullet-warning { 
  background-color: $color-palette-yellow-default;
}

.mrc-ui-bullet-error { 
  background-color: $color-palette-red-default;
}

.mrc-ui-bullet-success { 
  background-color: $color-palette-green-default;
}

.mrc-ui-bullet-active { 
  background-color: $color-palette-blue-default;
}
