@import "../settings";

.mrc-detailed-customer-trigger {
  padding-right: 16px;

  .previousAmounts {
    width: auto;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: -3.5em;
    margin-bottom: -5em;
  }

  .attention {
    transform: none !important;
    vertical-align: middle;
  }

  .mrc-trigger-with-data-changed {
    margin-right: 0;
    margin-left: auto;
    background-color: lightyellow;
  }

  .mrc-trigger-without-changed-data {
    margin-right: 0;
    margin-left: auto;
    background-color: white;
  }

  .mrc-detailed-customer-trigger-table {
    padding-right: 2px;
    padding-left: 2px;
    float: right;
    margin-right: 0;
    margin-left: auto;

    .data-table-wrapper {
      margin-top: 2px;
    }

    table .mrc-detailed-customer-trigger-table-with-changed-data {
      margin-right: 0;
      margin-left: auto;
      border: none;
      border-spacing: 0;
      background-color: white;
    }

    .mrc-detailed-customer-trigger-table-with-changed-data {
      background-color: lightyellow;
    }

    td, .td-changed-data, .td-not-changed-data {
      line-height: 1.2rem;
      white-space: nowrap;
      font-weight: 400;
      text-align: right;
      min-width: 25px;
      padding-left: 2px;
      padding-right: 2px;
    }

    .td-not-changed-data {
      font-weight: 400;
    }

    .td-changed-data {
      font-weight: bold;
      text-decoration: underline dotted;
    }

    .col-scroll {
      width: auto;
      overflow-x: scroll;
      overflow-y: visible;
    }

    .row-title {
      z-index: 100;
      position: sticky;
      top: auto;
      left: 0;
      min-width: 150px;
      text-align: right;
      overflow: hidden;
      background-color: white;
    }

    .break {
      th, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        padding-bottom: 2px;
      }
    }
  }

}
