@import "../settings";

.mrc-progress-bar {

  .details {
    width: 100%;
    height: 55px;
    background-color: $form-bg;
    color: $sky-blue;
    font-weight: 500;
    font-size: $small-text;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      text-transform: uppercase;
    }

    .total {
      color: #666;
    }
  }

  .bar {
    height: 5px;
    background-color: $light-grey;
    display: flex;

    .beginning {
      background-color: $light-blue;
    }

    .middle {
      background-color: $middle-blue;
    }

    .end {
      background-color: $sky-blue;
    }

    .third {
      height: 100%;
      width: calc(100% /3);
    }
  }
}
