@import '../lib/scss/variables';
@import '../lib/scss/colors';

.mrc-ui-main-content {
  background-color: $color-contrast-white;
  padding: $spacing-medium;
}

.mrc-ui-main-content-content {
  margin: 0 auto;
  max-width: $max-width-9;
  padding-bottom: $spacing-extra-extra-extra-large;
}
