@import "../lib/scss/main.scss";

.t-text {
  text-transform: none;

  &.t-size-1 { font-size: 160%; }
  &.t-size-2 { font-size: 170%; }
  &.t-size-3 { font-size: 180%; }
  &.t-size-4 { font-size: 190%; }
  &.t-size-5 { font-size: 200%; }
  &.t-size-6 { font-size: 210%; }
  &.t-size-7 { font-size: 220%; }
  &.t-size-8 { font-size: 230%; }
  &.t-size-9 { font-size: 240%; }
  &.t-size-10{ font-size: 250%; }

  &.t-color-grey-dark { color: $color-palette-grey-tint-20; }
  &.t-color-grey-light { color: $color-palette-grey-tint-60; }
  &.t-color-green { color: $color-palette-green-default; }
  &.t-color-blue { color: $color-brand-primary-default; }
  &.t-color-white { color: $color-contrast-white; }
  &.t-uppercase { text-transform: uppercase; }
  &.t-color-red { color: $color-palette-red-default; }
  &.t-color-yellow { color: $color-palette-yellow-default; }
}

