@import '../lib/scss/colors';
@import '../lib/scss/variables';

// wrapper (currently by default a circle around an icon, if needed)

.mrc-ui-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.875rem;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.mrc-ui-icon-circle {
  border-radius: 50%;
  border: $border-width-thin solid $color-brand-primary-default;
}

.mrc-ui-icon-circle-width-medium {
  border-width: $border-width-medium;
}

.mrc-ui-icon-svg {
  font-size: 2.875rem;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.mrc-ui-icon-circle .mrc-ui-icon-svg {
  width: .65em;
  height: .65em;
}

// colors

$icons-color-mapping: (
  "current-color": currentcolor,

  "white": $color-contrast-white,
  "black": $color-contrast-black,
  "interaction": $color-interaction,
  "success": $color-success,
  "neutral": $color-neutral,
  "danger": $color-palette-red-default,
  "muted": $color-palette-grey-tint-40,
  "disabled": $color-palette-grey-tint-60,
  "attention": $color-brand-secondary-default,
  "light-red": $color-palette-red-tint-30,
);

.mrc-ui-icon-stroke {
  stroke: $color-brand-primary-default;
}

.mrc-ui-icon-fill {
  fill: $color-brand-primary-default;
}

@each $key, $color in $icons-color-mapping {
  .mrc-ui-icon-circle-color-#{$key} {
    border-color: $color;
  }

  .mrc-ui-icon-stroke-#{$key} {
    stroke: $color;
  }

  .mrc-ui-icon-fill-#{$key} {
    fill: $color;
  }
}

// sizes

.mrc-ui-icon-size-small {
  font-size: 2rem; // determines width/height!
}

.mrc-ui-icon-size-xsmall {
  font-size: 1.3125rem;
}

.mrc-ui-icon-svg-size-sidebar {
  font-size: 4rem; // determines width/height!
}
.mrc-ui-icon-size-inline {
  display: inline-flex;
  position: relative;
  font-size: 1em;
  top: -.1em;
  vertical-align: middle;
}
