@import '../lib/scss/colors';
@import '../lib/scss/variables';

// wrapper (currently by default a circle around an icon, if needed)

.mrc-ui-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.875rem;
  width: 1em;
  height: 1em;

  border-radius: 50%;
  border: $border-width-thin solid $color-brand-primary-default;
}

.mrc-ui-icon-wrapper-stroke-width-medium {
  border-width: $border-width-medium;
}

// colors

$icons-color-mapping: (
  "white": $color-contrast-white,
  "black": $color-contrast-black,
  "interaction": $color-interaction,
  "success": $color-success,
  "neutral": $color-neutral,
  "danger": $color-palette-red-default,
  "attention": $color-brand-secondary-default,
  "light-red": $color-palette-red-tint-30,
);

.mrc-ui-icon-stroke {
  stroke: $color-brand-primary-default;
}

.mrc-ui-icon-fill {
  fill: $color-brand-primary-default;
}

@each $key, $color in $icons-color-mapping {
  .mrc-ui-icon-wrapper-stroke-#{$key} {
    border-color: $color;
  }

  .mrc-ui-icon-stroke-#{$key} {
    stroke: $color;
  }

  .mrc-ui-icon-fill-#{$key} {
    fill: $color;
  }
}

// the svg element

.mrc-ui-icon-svg {
  font-size: 2.875rem;
  width: 1em;
  height: 1em;

  @at-root .mrc-ui-icon-wrapper #{&} {
    width: .65em;
    height: .65em;
  }
}

// sizes

.mrc-ui-icon-wrapper-size-small,
.mrc-ui-icon-svg-size-small {
  font-size: 2rem; // determines width/height!
}

.mrc-ui-icon-wrapper-size-xsmall,
.mrc-ui-icon-svg-size-xsmall {
  font-size: 1.3125rem;
}
