@import '../lib/scss/main.scss';

.mrc-iframe {
    width: 100%;
    h1 {
        padding-top: 2rem;
        margin: 0 auto;
        display: table;
        padding-bottom: 2rem;
    }
    iframe {
        margin: 0 auto;
        display: table;
        max-width: 64rem;
        width: 64rem;
        height: 46rem;
    }
}
