@import '../lib/scss/colors';
@import '../lib/scss/variables';
@import '../lib/scss/typography';

.mrc-ui-pageheader {
  background-color: $color-contrast-white;
  display: grid;
  grid-template-areas: 
    "notifications notifications notifications"
    "page-menu page-title info-area"
    "tabs      tabs       tabs"
    "content   content    content";
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
  z-index: 150;
}

@media screen and (min-width: 1350px) {
  .mrc-ui-pageheader {
    background: 
      linear-gradient(
        $color-contrast-white, 
        $color-contrast-white calc(100% - 1px), 
        $color-brand-primary-tint-90 calc(100% - 1px), 
        $color-brand-primary-tint-90 100%
      );
    grid-template-areas:
      "notifications notifications"
      "page-title info-area"
      "tabs       tabs"
      "content    content";
    grid-template-columns: 1fr max-content;
  }
}

@media screen and (min-width: 760px) {
  .mrc-ui-pageheader {
    position: sticky;
    top: 0;
    z-index: 150;
  }
}

.mrc-ui-pageheader-notification-area {
  grid-area: notifications;
}

.mrc-ui-pageheader-menu {
  grid-area: page-menu;
  padding: $spacing-medium $spacing-small;
  cursor: pointer;
  text-align: center;
}

.mrc-ui-pageheader-menu-burger-icon {
  grid-area: burger;
}

.mrc-ui-pageheader-menu-metro-icon {
  background-color: $color-brand-primary-default;
  border-radius: $border-radius-medium;
  margin: 0 auto;
  padding: $spacing-small;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1350px) {
  .mrc-ui-pageheader-menu, .mrc-ui-pageheader-menu > * {
    display: none;
  }
}

.mrc-ui-pageheader-title {
  grid-area: page-title;
  align-self: center;
  padding: $spacing-small;
}

.mrc-ui-pageheader-info {
  display: flex;
  grid-area: info-area;
  align-self: center;
  padding: $spacing-small;

  > :first-child {
    display: none; // hidden on small screens

  }
}

@media screen and (min-width: 1050px) {
  .mrc-ui-pageheader-info > :first-child {
    display: flex;
  }
  
  // toggle display of some items in sidescreen infos
  :root {
    --mrc-ui-header-info-items-display-none-toggle: none;
  }
}

.mrc-ui-pageheader-more-button {
  .mrc-ui-icon-svg {
    font-size: 2rem;
  }
  padding: $spacing-medium $spacing-small;
  
  &:hover .mrc-ui-icon-stroke {
    stroke: $color-interaction;
  }
}

// tabs

$mrc-ui-page-header-tab-height: 2rem;

.mrc-ui-pageheader-tabs {
  border-top: 1px solid $color-brand-primary-tint-90;
  grid-area: tabs;
  display: flex;
  flex-wrap: wrap;
  background: 
  repeating-linear-gradient(
    transparent, 
    transparent calc(#{$mrc-ui-page-header-tab-height} - 1px), 
    $color-brand-primary-tint-90 calc(#{$mrc-ui-page-header-tab-height} - 1px), 
    $color-brand-primary-tint-90 $mrc-ui-page-header-tab-height
  );
}

@media screen and (min-width: 1350px) {
  .mrc-ui-pageheader-tabs {
    border-top: 1px solid transparent;
    background: none;
  }
}

.mrc-ui-pageheader-tabitem {
  cursor: pointer;
  box-sizing: border-box;
  height: $mrc-ui-page-header-tab-height;
  
  display: inline-block;
  margin: 0 .5rem;

  margin-right: $spacing-small;
  padding: $spacing-extra-extra-small $spacing-none;
  
  font-size: $font-size-10;

  @media #{$breakpoint-not-small} {
    font-size: $font-size-8;
  }
}

.mrc-ui-pageheader-tabitem:hover,
.mrc-ui-pageheader-tabitem-selected {
  border-bottom: 3px solid $color-interaction;
}

.mrc-ui-pageheader-language-icon {
  border: $border-width-thin solid $color-palette-grey-tint-40;
  border-radius: $border-radius-circle;
  width: $width-2;
  height: $height-2;
  font-size: $font-size-10;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mrc-ui-pageheader-language-button {
  padding: $spacing-medium $spacing-small;  
  
  &:hover * {
    color: $color-interaction;
    border: 1px solid $color-interaction;
  }
}
