@import '../lib/scss/variables';
@import '../lib/scss/colors';
@import '../lib/scss/typography';

.mrc-ui-comment-component {
  display: grid;
  justify-items: center;
  grid-gap: $spacing-row-gap;
  
  padding: $spacing-large 0;
  background-color: $color-contrast-white;
}

.mrc-ui-comment-component-previous {
  margin-top: $spacing-large;
}

.mrc-ui-comments-headline {
    margin-top: $spacing-large;
    margin-bottom: $spacing-extra-small;
    padding: $spacing-extra-small $spacing-extra-small;
    color: $color-palette-grey-tint-20;
}

.mrc-ui-comment {
    padding: $spacing-medium;
    margin: $spacing-none auto !important;
}

.mrc-ui-no-comment {
    margin: $spacing-none auto !important;
    display: table;
}

@media #{$breakpoint-not-small} {
    .mrc-ui-comment {
        padding: $spacing-medium 4rem !important;
    }
}

.mrc-ui-comment-text {
    white-space: pre-line;
    line-height: $line-height-copy;
    color: $color-palette-grey-tint-20;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mrc-ui-comment-divider {
    border-color: $color-palette-grey-tint-80;
}

.mrc-ui-comments-list {
    background: $color-contrast-white;
}

@media #{$breakpoint-not-small} {
    .mrc-ui-comments-list {
        border: $border-width-thin solid $color-palette-grey-tint-80;
        padding: 2rem 0rem !important;
    }
}

.mrc-ui-comments {
  width: 100%;
}

@media #{$breakpoint-medium} {
    .mrc-ui-comments {
        max-width: 44rem;
        margin: $spacing-none auto $spacing-none auto !important;
    }
}

@media #{$breakpoint-large} {
    .mrc-ui-comments {
        max-width: 48rem;
        margin: $spacing-none auto $spacing-none auto !important;
    }
}
