@import '../../lib/scss/colors';
@import '../../lib/scss/typography';
@import '../../lib/scss/variables';

.mrc-ui-form-section {
  display: grid;
  grid-template-columns: 33% auto;
  width: 100%;
  padding: $spacing-medium $spacing-none;
}

.mrc-ui-form-side-column {
    p {
        font-size: $font-size-8;
        color: $color-palette-grey-tint-50;
        max-width: $measure-wide;
        line-height: $line-height-copy;
    }
    padding-right: $spacing-extra-large;
}

.mrc-ui-form-section-heading {
  @include typo-header-medium();
  margin-bottom: $spacing-extra-small;
}

.mrc-ui-form-main-column {

}

.mrc-ui-form-bg {
    background-color: $color-form-background-grey !important;
}
