@import '../../lib/scss/colors';
@import '../../lib/scss/typography';
@import '../../lib/scss/variables';

.mrc-ui-credit-tab-profit-label {
  color: $color-palette-grey-tint-70;
  font-weight: bold;
  font-size: $font-size-5;
  margin-bottom: $spacing-small;
}

.mrc-ui-credit-tab-profit-number {
  font-size: $font-size-3;
  font-weight: bold;
  color: $color-palette-green-default;
  margin-right: $spacing-extra-small;
}
