@import '../lib/scss/colors.scss';
@import '../lib/scss/variables';
@import '../lib/scss/typography';

.mrc-ui-report-component {
    padding: $spacing-large 0;
    background-color: $color-contrast-white;
}

.mrc-ui-add-report-button {
    width: auto !important;
    padding: $spacing-none $spacing-extra-large !important;
    margin: $spacing-large auto $spacing-large auto !important;
}

.mrc-ui-report-icon-background {
    background-color: $color-palette-grey-tint-90;
    background: linear-gradient(315deg, $color-palette-grey-tint-90 0%, $color-palette-grey-tint-95 100%);
    border-radius: $border-radius-large;
    width: 57px;
    height: 57px;
    display: grid;
    justify-content:center;
    margin: 0 auto;  
}

.mrc-ui-report-icon{
    align-self:center;
    width: 38px;
    height: 38px;
}

.mrc-ui-report {
    display: grid;
    justify-content: center;
    padding: 1rem 0;
    
}

.mrc-ui-report a {
    overflow: hidden;
}

.mrc-ui-report-text {
    text-align: center;
    font-size: $font-size-8;
    line-height: $line-height-title;
    font-weight: normal;
    margin: 6px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: #{2 * $font-size-8 * $line-height-title};
}

.mrc-ui-reports-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-gap: 1rem;
    background: $color-contrast-white;
}

