@import '../lib/scss/main.scss';

.mrc-ui-report-component {
    padding: $spacing-large 0;
    background-color: $color-contrast-white;
}

.mrc-ui-add-report-button {
    width: auto !important;
    padding: $spacing-none $spacing-extra-large !important;
    margin: $spacing-large auto $spacing-large auto !important;
}

.mrc-ui-reports-headline {
    margin-bottom: $spacing-extra-small;
    padding: $spacing-extra-small $spacing-medium;
    color: $color-brand-primary-default;
}

.mrc-ui-report {
    padding: $spacing-medium;
    margin: $spacing-none auto !important;
}

.mrc-ui-no-report {
    margin: $spacing-none auto !important;
    display: table;
}

@media #{$breakpoint-not-small} {
    .mrc-ui-report {
        padding: $spacing-medium 4rem !important;
    }
}

.mrc-ui-report-text {
    white-space: pre-line;
    line-height: $line-height-copy;
    color: $color-palette-grey-tint-20;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mrc-ui-report-divider {
    border-color: $color-palette-grey-tint-80;
}

.mrc-ui-reports-list {
    background: $color-contrast-white;
}

@media #{$breakpoint-not-small} {
    .mrc-ui-reports-list {
        border: $border-width-thin solid $color-palette-grey-tint-80;
        padding: 2rem 0rem !important;
    }
}

@media #{$breakpoint-medium} {
    .mrc-ui-reports {
        max-width: 44rem;
        margin: $spacing-none auto $spacing-none auto !important;
    }
}

@media #{$breakpoint-large} {
    .mrc-ui-reports {
        max-width: 48rem;
        margin: $spacing-none auto $spacing-none auto !important;
    }
}
