$green: #34C082;

$grey-tint-90: #E6E8EB;
$grey-tint-95: #F2F3F5;

.cb-medium {
  .tb-wrapper { padding: 0.5em 1em; }
  .tb-header { margin-bottom: 0.25em; }
}

.cb-small {
  .tb-wrapper { padding: 0.25em 1em; }
  .tb-header { margin-bottom: 0em; }
}

.mrc-colored-box {
  display: inline-flex;
  flex-direction: column;
  margin: 0 1em 1em;
  &.cb-size-1 { width: calc(55% - 2em); }
  &.cb-size-2 { width: calc(60% - 2em); }
  &.cb-size-3 { width: calc(65% - 2em); }
  &.cb-size-4 { width: calc(70% - 2em); }
  &.cb-size-5 { width: calc(75% - 2em); }
  &.cb-size-6 { width: calc(80% - 2em); }
  &.cb-size-7 { width: calc(85% - 2em); }
  &.cb-size-8 { width: calc(90% - 2em); }
  &.cb-size-9 { width: calc(95% - 2em); }
  &.cb-size-10{ width: calc(100% - 2em); }
}

.mrc-grey-dark { background-color: $grey-tint-90; }
.mrc-grey-light { background-color: $grey-tint-95; }
.mrc-green { background-color: $green; }
