.mrc-layout {}

.lo-col-2 {
  display: flex;
  flex-direction: row;
  > * {
      flex: 0 50%;
  }
}

.lo-col {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .lo-col-2-tablet {
    display: flex;
    flex-direction: row;

    > * {
      flex: 0 50%;
    }
  }
}
