@import '../../../lib/scss/colors';
@import '../../../lib/scss/variables';
@import '../../../lib/scss/typography';

.mrc-ui-customer-toggler {
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: $line-height-copy-narrow;
}

.mrc-ui-customer-toggler-customer {
  margin-left: $spacing-medium;
  margin-right: $spacing-large;
}

