@import "../settings";

.mrc-recommendation-odd {
    background-color: white;
}

.mrc-recommendation-even {
    background-color: white;
}

.mrc-recommendation {

    padding: 1rem;
    border: 1px solid $grey-tint-60;

    *.desktop {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .recommendation-text {
        margin-top: 1rem;
    }

    .uploader-position {
        color: $grey-tint-60;
    }

    .uploader-name.desktop {
        margin-top: 5rem;
    }

    .uploader-name.mobile {
        margin-top: 1rem;
    }

    .mrc-btn-group {
        justify-content: right;
    }

    .recommendation-footer.desktop {
        margin-bottom: 5rem;
    }
    .mrc-primary-button {
        background-color: $mrc-blue
    }

    .mrc-error-button {
        color: $warning-orange;
        background-color: white;
        border: 2px solid $warning-orange;
    }

    .mrc-error-button:hover {
        color: $warning-orange-light;
        background-color: white;
        border: 2px solid $warning-orange-light;
    }
}

.new-recommendation {
    p {
        color: $grey-tint-40;
    }

    .description {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    border: 1px solid $grey-tint-60;
    background-color: $grey-tint-95;

    .recommendation {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .add-recommendation {
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $grey-tint-60;
    }
}

.new-recommendation.mobile {
    padding: 1rem;
    margin-bottom: 1rem;
}

.new-recommendation.desktop {
    padding: 5rem;
    margin-bottom: 1rem;
}
