@import '../lib/scss/colors';
@import '../lib/scss/variables';
@import '../lib/scss/typography';
@import '../lib/scss/shadows';

.mrc-ui-table {
    width: 100%;
    border-spacing: 0px;
}

.mrc-ui-table-fixed-layout {
  table-layout: fixed;
}

// settings for table

$table-padding-v: $spacing-extra-small;
$table-padding-h: $spacing-medium;
$table-base-line-height: $line-height-copy;

// set the basics

.mrc-ui-table-h,
.mrc-ui-table-d {
  border-top: $border-width-none solid $color-palette-grey-tint-90;
  border-left: $border-width-none solid $color-palette-grey-tint-90;
  border-right: $border-width-thin solid $color-palette-grey-tint-90;
  border-bottom: $border-width-thin solid $color-palette-grey-tint-90;
  background-color: $color-contrast-white;
  padding: $table-padding-v $table-padding-h;
  line-height: $table-base-line-height;
  z-index: 1;

  &:last-child {
    border-right-width: $border-width-none;
  }
}

.mrc-ui-table-h-flush,
.mrc-ui-table-d-flush {
  padding: 0;
}

.mrc-ui-table .mrc-ui-table-border-fix {
  border-right-width: $border-width-thin;
}

// set the row themes

.mrc-ui-table-r {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-contrast-white;
    border-color: $color-palette-grey-tint-90;
  }
}

.mrc-ui-table-r-zebra {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-grey-tint-95;
    border-color: $color-contrast-white;
  }
}

.mrc-ui-table-r-active {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-blue-tint-90;
    border-color: $color-contrast-white;
  }
}

.mrc-ui-table-r-hover {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-blue-tint-90;
    border-color: $color-contrast-white;
  }
}

.mrc-ui-table-r-form {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-form-background-grey;
    border-color: $color-contrast-white;
    color: $color-palette-grey-tint-60;
  }
}

.mrc-ui-table-r-head {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-grey-tint-70;
    border-color: $color-contrast-white;
    color: $color-contrast-white;
  }
}

.mrc-ui-table-r-head-light {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-grey-tint-95;
    border-color: $color-contrast-white;
    color: $color-palette-grey-tint-60;
  }
}

.mrc-ui-table-r-invalid {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-red-tint-95;
    border-color: $color-contrast-white;
  }
}

.mrc-ui-table-r-sticky {
  th, td {
    position: sticky;
    position: var(--sticky-override, sticky);
    top: var(--sticky-top); // gets calculated and assigned via JS
  }
}


// temp // TODO: remove this??

html, body {
  background:white;
}
