@import '../lib/scss/colors';
@import '../lib/scss/variables';
@import '../lib/scss/typography';
@import '../lib/scss/shadows';

.mrc-ui-table {
    width: 100%;
    border-spacing: 0px;
}

// settings for table

$table-padding-v: $spacing-extra-small;
$table-padding-h: $spacing-medium;
$table-base-line-height: $line-height-copy;

@mixin table-row-default-color () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-contrast-white;
    border-color: $color-palette-grey-tint-90;
  }
}

@mixin table-row-zebra-color () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-grey-tint-95;
    border-color: $color-contrast-white;
  }
}

@mixin table-row-active-color () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-blue-tint-90;
    border-color: $color-contrast-white;
  }
}

@mixin table-row-hover-color () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-blue-tint-90;
    border-color: $color-contrast-white;
  }
}

@mixin table-row-light-grey () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-grey-tint-95;
    border-color: $color-contrast-white;
    color: $color-palette-grey-tint-60;
  }
}

@mixin table-row-form-grey () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-form-background-grey;
    border-color: $color-contrast-white;
    color: $color-palette-grey-tint-60;
  }
}

@mixin table-row-dark-grey () {
  .mrc-ui-table-h,
  .mrc-ui-table-d {
    background-color: $color-palette-grey-tint-70;
    border-color: $color-contrast-white;
    color: $color-contrast-white;
  }
}

// set the basics

.mrc-ui-table-h,
.mrc-ui-table-d {
  border-top: $border-width-none solid $color-palette-grey-tint-90;
  border-left: $border-width-none solid $color-palette-grey-tint-90;
  border-right: $border-width-thin solid $color-palette-grey-tint-90;
  border-bottom: $border-width-thin solid $color-palette-grey-tint-90;
  background-color: $color-contrast-white;
  padding: $table-padding-v $table-padding-h;
  line-height: $table-base-line-height;
  z-index: 1;

  &:last-child {
    border-right-width: $border-width-none;
  }
}

.mrc-ui-table .mrc-ui-table-border-fix {
  border-right-width: $border-width-thin;
}

// set the row themes

.mrc-ui-table-r {
  @include table-row-default-color();
}

.mrc-ui-table-r-zebra {
  @include table-row-zebra-color();
}

.mrc-ui-table-r-active {
  @include table-row-active-color();
}

.mrc-ui-table-r-hover {
  @include table-row-hover-color();
}

.mrc-ui-table-r-form {
  @include table-row-form-grey();
  .mrc-ui-table-d{
    box-shadow: $shadow-downwards-medium-inset;
  }
}

.mrc-ui-table-head {
    .mrc-ui-table-r {
        @include table-row-dark-grey();
    }

    .mrc-ui-table-r-light {
        @include table-row-light-grey();
    }
}


.mrc-ui-table-r-sticky {
  th {
    position: sticky;
    top: var(--sticky-offset); // gets calculated and assigned via JS
  }
}

// temp

html, body {
  background:white;
}