@import '../lib/scss/colors';
@import '../lib/scss/variables';
@import '../lib/scss/typography';

.mrc-ui-page-title {
  display: flex;
  flex-direction: column;
}

.mrc-ui-page-title-title {
  font-size: $font-size-6;
  color: $color-brand-primary-default;
  line-height: $line-height-copy;
  @media #{$breakpoint-not-small} {
    font-size: $font-size-4;
  }
}

.mrc-ui-page-title-subtitle {
}

.mrc-ui-page-title-subtitle-customer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: $font-size-8;
  line-height: $line-height-copy;
}

.mrc-ui-page-title-subtitle-customer-name {
  color: $color-palette-grey-tint-40;
  margin-right: $spacing-small;
  text-overflow: ellipsis;
  overflow: hidden;  

  @media #{$breakpoint-not-small} {
    font-size: $font-size-7;
  }

  white-space: nowrap;
  display:inline-block;
  
  max-width: 180px;
  @media #{$breakpoint-medium} {
    max-width: 300px;
  }

  @media #{$breakpoint-large} {
    max-width: 250px; 
  }
}

.mrc-ui-page-title-subtitle-customer-id {
  color: $color-palette-grey-tint-60;
  margin-right: $spacing-small;
}
