.mrc-selectagency {
	margin-bottom:15px;
}

.reportFileInput {
	display: none;
}

.uploadReportButton {
  margin-bottom: 15px !important;
  margin-left: 0px !important;
}

.reportUploaded:hover {
	text-decoration:underline;
}

.scoringFileName {
    font-weight: bold;
}

.mrc-add-score td {
    padding: 0px 1px;
}

.reportDownloadLink {
    margin-left:2rem;
}

.mrc-scoring-table caption {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: #002d72;
  padding-left: 20px;
  width: 100%;
}
