@import '../lib/scss/variables';

.mrc-ui-grid {
  display: grid;
  // TODO: set a cool min width
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: $spacing-row-gap $spacing-column-gap;
  justify-content: var(--justify-content);
  align-items: var(--align-items);
}

.mrc-ui-grid-cols {
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.mrc-ui-grid-item {
  justify-self: var(--justify-self);
  align-self: var(--align-self);
}
