@import "../settings";
@import "../buttons";
@import "../helpers";

.mrc-send-back {

  display: inline-flex;

  select {
    margin: 1rem 0 1rem 1.5rem;
    width: fit-content;
  }

  button {
    min-width: 160px;
    background-color: white;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

}
