@import "../settings";

.mrc-file-upload {

  // see http://jsfiddle.net/barney/uxPjN/
  overflow: hidden;
  position: relative;
  height: 48px;
  width: 180px;
  border: 2px solid $sky-blue;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 20px 15px auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $sky-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
  vertical-align: top;

  &:hover, &:focus {
    background-color: $light-blue;
  }

  input[type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  input[type=button] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  input[disabled],
  &.disabled {
    border-color: $form-placeholder-color;
    color: $form-placeholder-color;
    box-shadow: none;
  }

  &.disabled:hover,
  &.disabled:focus {
    background-color: #fff;
  }
}

.button-wrapper {
  text-align: center;
}
