@import '../../lib/scss/variables';
@import '../../lib/scss/typography';
@import '../../lib/scss/colors';

.mrc-ui-hi-limits {
  display: flex;
  padding: $spacing-small $spacing-medium;
}

.mrc-ui-hi-limits-colstyle {
  flex-direction: column;
  border-bottom: $border-style-default;
  padding: $spacing-small $spacing-medium;

  &:first-child {
    padding-top: 0;
  }
}

.mrc-ui-hi-limits-type {
  @include typo-small-caps;
  color: $color-success;
  padding: $spacing-small $spacing-none;
}

.mrc-ui-hi-limits-group,
.mrc-ui-hi-limits-customer {
  margin-top: $spacing-extra-small;
  display: grid;
  grid-template: 
    'label  icon        number'
    /auto   max-content max-content;
  grid-gap: $spacing-small;
  padding-bottom: $spacing-small;

  > .mrc-ui-number {
    grid-area: number;
    color: $color-palette-grey-default;
  }
  
  > span:first-child {
    grid-area: label;
  }
  
  > svg {
    grid-area: icon;
  }
}

