@import '../../lib/scss/variables';
@import '../../lib/scss/typography';
@import '../../lib/scss/colors';

.mrc-ui-hi-rsummary {

  &:first-child .mrc-ui-hi-rsummary-row:first-child {
    padding-top: 0;
  }
}

.mrc-ui-hi-rsummary-colstyle {

}

.mrc-ui-hi-rsummary-row {
  display: flex;
  border-bottom: $border-style-default;
  padding: $spacing-small $spacing-medium;
}

.mrc-ui-hi-rsummary-phase-label,
.mrc-ui-hi-rsummary-status-label {
  flex-grow: 1;
}

.mrc-ui-hi-rsummary-phase {
  
}

.mrc-ui-hi-rsummary-status {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: $spacing-extra-small;
}

.mrc-ui-hi-rsummary-status-value {
  @include typo-small-caps;
}

.mrc-ui-hi-rsummary-status-value-green {
  color: $color-success;
}

.mrc-ui-hi-rsummary-status-role {
  @include typo-small-caps;
  color: $color-brand-primary-default;
}
