@import '../../lib/scss/variables';
@import '../../lib/scss/typography';
@import '../../lib/scss/colors';

.mrc-ui-hi-rsummary {
  // display: grid;
  // grid-template: 
  //   'phase-label  phase'
  //   'staus-label  status'
  //   /auto         max-content;
  // grid-gap: $spacing-small;

  &:first-child .mrc-ui-hi-rsummary-row:first-child {
    padding-top: 0;
  }
}

.mrc-ui-hi-rsummary-colstyle {

}

.mrc-ui-hi-rsummary-row {
  display: flex;
  border-bottom: $border-style-default;
  padding: $spacing-small $spacing-medium;
}

.mrc-ui-hi-rsummary-phase-label,
.mrc-ui-hi-rsummary-status-label {
  flex-grow: 1;
}

.mrc-ui-hi-rsummary-phase {
  
}

.mrc-ui-hi-rsummary-status {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: $spacing-extra-small;
}

.mrc-ui-hi-rsummary-status-value {
  font-weight: bold;
  font-size: $font-size-9;
  text-transform: capitalize;
}

.mrc-ui-hi-rsummary-status-value-green {
  color: $color-success;
}

.mrc-ui-hi-rsummary-status-role {
  color: $color-brand-primary-default;
  font-weight: bold;
  font-size: $font-size-9;
  text-transform: capitalize;
}
