@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-pageheader {
  display: grid;
  grid-template-areas: 
    "page-title info-area"
    "tabs       tabs";
  grid-template-columns: 1fr max-content;
  width: 100%;
}

.mrc-ui-pageheader-title {
  grid-area: page-title;
  align-self: center;
  padding: $spacing-small;
}

.mrc-ui-pageheader-info {
  grid-area: info-area;
  align-self: center;
  padding: $spacing-small;

  > :first-child {
    display: none; // hidden on small screens // TODO: unhide for table/desktop
  }

  // > button {
  //   // TODO: do it
  // }
}

$mrc-ui-page-header-tab-height: 2rem;

.mrc-ui-pageheader-tabs {
  border-top: 1px solid $color-brand-primary-tint-90;
  grid-area: tabs;
  display: flex;
  flex-wrap: wrap;
  background: 
  repeating-linear-gradient(
    transparent, 
    transparent calc(#{$mrc-ui-page-header-tab-height} - 1px), 
    $color-brand-primary-tint-90 calc(#{$mrc-ui-page-header-tab-height} - 1px), 
    $color-brand-primary-tint-90 $mrc-ui-page-header-tab-height
  );
}

.mrc-ui-pageheader-tabitem {

  box-sizing: border-box;
  height: $mrc-ui-page-header-tab-height;
  
  display: inline-block;
  margin: 0 .5rem;
  


  margin-right: $spacing-small;
  padding: $spacing-extra-extra-small $spacing-none;
  
  font-size: $font-size-10;
}

.mrc-ui-pageheader-tabitem-selected {
  // border-bottom: 2px solid $color-palette-blue-default;
  border-bottom: 3px solid $color-interaction;
}


.mrc-ui-pageheader-more-button {
  .mrc-ui-icon-svg {
    font-size: 2rem;
  }
  
  &:hover .mrc-ui-icon-stroke {
    stroke: $color-interaction;
  }
}

@media #{$breakpoint-large} {
  .mrc-ui-pageheader {
    grid-template-areas: 
      "page-title info-area"
      "tabs       info-area";
  }
}
