@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-pageheader {
  display: grid;
  grid-template-areas: 
    "page-menu page-title info-area"
    "tabs tabs       tabs";
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
}

@media #{$breakpoint-large} {
  .mrc-ui-pageheader {
    display: grid;
    grid-template-areas: 
      "page-title info-area"
      "tabs       tabs";
    grid-template-columns: 1fr max-content;
    width: 100%;
  }
}

.mrc-ui-pageheader-menu {
  grid-area: page-menu;
  padding: $spacing-medium $spacing-small;
  cursor: pointer;
  text-align: center;
}

.mrc-ui-pageheader-menu-burger-icon {
  grid-area: burger;
}

.mrc-ui-pageheader-menu-metro-icon {
  background-color: $color-brand-primary-default;
  border-radius: $border-radius-medium;
  margin: 0 auto;
  padding: $spacing-small;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media #{$breakpoint-large} {
  .mrc-ui-pageheader-menu, .mrc-ui-pageheader-menu > * {
    display: none;
  }
}

.mrc-ui-pageheader-title {
  grid-area: page-title;
  align-self: center;
  padding: $spacing-small;
}

.mrc-ui-pageheader-info {
  display: flex;
  grid-area: info-area;
  align-self: center;
  padding: $spacing-small;

  > :first-child {
    display: none; // hidden on small screens

    @media #{$breakpoint-large} {
      display: flex;
    }
  }

  // > button {
  //   // TODO: do it
  // }
}

.mrc-ui-pageheader-more-button {
  .mrc-ui-icon-svg {
    font-size: 2rem;
  }
  padding: $spacing-medium $spacing-small;
  
  &:hover .mrc-ui-icon-stroke {
    stroke: $color-interaction;
  }
}

@media #{$breakpoint-large} {
  .mrc-ui-pageheader {
    // use 1px background line as "border" bottom
    background: 
      linear-gradient(
        transparent, 
        transparent calc(100% - 1px), 
        $color-brand-primary-tint-90 calc(100% - 1px), 
        $color-brand-primary-tint-90 100%
      );
    grid-template-areas: 
      "page-title info-area"
      "tabs       tabs";
  }
}

@media screen and (min-width: 1350px) {
  .mrc-ui-pageheader {
    grid-template-areas: 
      "page-title info-area"
      "tabs       info-area";
  }
}

// tabs

$mrc-ui-page-header-tab-height: 2rem;

.mrc-ui-pageheader-tabs {
  border-top: 1px solid $color-brand-primary-tint-90;
  grid-area: tabs;
  display: flex;
  flex-wrap: wrap;
  background: 
  repeating-linear-gradient(
    transparent, 
    transparent calc(#{$mrc-ui-page-header-tab-height} - 1px), 
    $color-brand-primary-tint-90 calc(#{$mrc-ui-page-header-tab-height} - 1px), 
    $color-brand-primary-tint-90 $mrc-ui-page-header-tab-height
  );
}

@media #{$breakpoint-large} {
  .mrc-ui-pageheader-tabs {
    border-top: 1px solid transparent;
    background: none;
  }
}

.mrc-ui-pageheader-tabitem {
  cursor: pointer;
  box-sizing: border-box;
  height: $mrc-ui-page-header-tab-height;
  
  display: inline-block;
  margin: 0 .5rem;

  margin-right: $spacing-small;
  padding: $spacing-extra-extra-small $spacing-none;
  
  font-size: $font-size-10;

  @media #{$breakpoint-not-small} {
    font-size: $font-size-8;
  }
}

.mrc-ui-pageheader-tabitem:hover,
.mrc-ui-pageheader-tabitem-selected {
  // border-bottom: 2px solid $color-palette-blue-default;
  border-bottom: 3px solid $color-interaction;
}

.mrc-ui-pageheader-language-icon {
  border: $border-width-thin solid $color-palette-grey-tint-40;
  border-radius: $border-radius-circle;
  width: $width-2;
  height: $height-2;
  font-size: $font-size-10;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mrc-ui-pageheader-language-button {
  padding: $spacing-medium $spacing-small;  
  
  &:hover * {
    color: $color-interaction;
    border: 1px solid $color-interaction;
  }
}

// sidebar




.mrc-ui-main-wapper {
  display: block;
  // grid-template: 
  // "sidebar header" max-content
  // "sidebar content"
  // / 96px auto;
  // min-height: 100vh;
}

.mrc-ui-sidebar {
  grid-area: sidebar;
  background: $color-brand-primary-default;
  text-align: center;
  color: $color-contrast-white;
  padding: 0 6px;
  display:none;
}

.mrc-ui-sidebar-metro-icon {
  padding: $spacing-medium;

}

@media #{$breakpoint-large} {
  .mrc-ui-sidebar {
    display: block;
  }

  .mrc-ui-main-wapper {
    display: grid;
    grid-template: 
    "sidebar header" max-content
    "sidebar content"
    / 96px auto;
    min-height: 100vh;
  }
}


.mrc-ui-sidebar-icon {
  margin: 0.5rem auto;
  padding: $spacing-small 0 $spacing-extra-small 0;
  cursor: pointer;
  &:hover{
    background-color: $color-palette-blue-tint-10;
  }
}

.mrc-ui-sidebar-icon-title {
  font-size: $font-size-10;
  color: $color-contrast-white;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 $spacing-small;
}
