@import "../settings";

.mrc-customer-trigger {
  padding-right: 16px;

  .previousAmounts {
    width: auto;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: -3.5em;
    margin-bottom: -5em;
  }

  .attention {
    transform: none !important;
    vertical-align: middle;
  }

}
