@import '../lib/scss/card-styles';
@import '../lib/scss/variables';
@import '../lib/scss/shadows';

.mrc-ui-card {
  @include card-default();
  display: inline-block;
  box-sizing: border-box;
  padding: ($spacing-medium * 1.5) $spacing-medium;
}

.mrc-ui-card-block {
  display: block;
}

.mrc-ui-card-shadow {
  box-shadow: $shadow-downwards-medium;
}

.mrc-ui-card-primary {
  @include card-primary();
}

.mrc-ui-card-muted {
  @include card-muted();
}

.mrc-ui-card-primary-white {
  @include card-primary-white();
}

.mrc-ui-card-primary-blue {
  @include card-primary-blue();
}

.mrc-ui-card-primary-green {
  @include card-primary-green();
}

.mrc-ui-card-warning {
  @include card-warning();
}

.mrc-ui-card-error {
  @include card-error();
}
