@import '../../settings';

select {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: normal;
    // background-color: transparent; // NOTE removed in MRC-3900
    z-index: 10;
    position: relative;

    option {
        font-size: 16px;
        font-weight: 300;
    }
}

select:disabled {
    z-index: 0 !important;
    color: #99a1ad !important;
    background-color: #f2f3f5 !important;
}

label {
    font-size: 18px;
    color: #1a3b7a;
}

.mrc-credit-data-editor .m-input-iconLink {
    z-index: 20;
    overflow: hidden;
    position: absolute;
}

.mrc-credit-data-editor .credit-data-input input {
    background-color: transparent;
    z-index: 10;
    position: relative;
}

.mrc-credit-data-editor .credit-data-input input:disabled {
    z-index: 0 !important;
    color: #99a1ad !important;
    background-color: #f2f3f5 !important;
}

.mrc-credit-data-editor input {
    margin-bottom: 15px;
    width: 100%;
    min-width: 200px;
    font-size: $text-flow;
}

.previousLabels {
    width: auto;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: -2em;
    margin-bottom: -3em;
}

.applyLabel {
    padding-left: 3px;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}

.panelSubitem {
    padding-bottom: 15px;
}
