@import '../../lib/scss/variables';

.mrc-ui-approval-dock {
  display: grid;
  grid-gap: $spacing-medium;
  grid-template: 
      'request . reject_ block_ cancel_ approve_' 
      / max-content 1fr max-content max-content max-content max-content;

  // > #mrc-ui-approval-dock-btn-request {}

  > #mrc-ui-approval-dock-btn-reject {
    grid-area: reject_; 
  }

  > #mrc-ui-approval-dock-btn-block {
    grid-area: block_;
  }

  > #mrc-ui-approval-dock-btn-cancel {
    grid-area: cancel_;
    margin-left: $spacing-medium;
  }

  > #mrc-ui-approval-dock-btn-forward,
  > #mrc-ui-approval-dock-btn-confirm,
  > #mrc-ui-approval-dock-btn-approve,
  > #mrc-ui-approval-dock-btn-provide {
    grid-area: approve_;
  }
}

@media screen and (max-width: 62rem) {
  .mrc-ui-approval-dock {
    grid-template: 
      'request . block_  approve_' 
      'request . reject_ cancel_ ' 
      / max-content 1fr max-content max-content;

    grid-gap: $spacing-small $spacing-medium;

    > #mrc-ui-approval-dock-btn-cancel {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 38rem) {
  .mrc-ui-approval-dock {
    grid-template: 
      'block_  approve_' 
      'reject_ cancel_ ' 
      'request request ' 
      / 1fr 1fr;

    grid-gap: $spacing-small $spacing-medium;
    justify-items: center;

    > #mrc-ui-approval-dock-btn-cancel {
      margin-left: 0;
    }
  }
}
