@import "../../settings";

.recent-requests {
  margin-top: 20px;
  margin-bottom: 20px;
}
//
//.tablet .recent-requests {
//  padding: 0 64px;
//}

.recent-requests .heading {
  padding: 20px;
  background-color: white;
  color: #999999;
  text-transform: uppercase;
  border-top: 1px solid rgb(244, 244, 244);
  border-bottom: 1px solid rgb(244, 244, 244);
}

.mrc-request-record:hover {
  cursor: pointer;
}

.mrc-request-details-title {
  /*height: 30px;*/
  width: 50%;
  float: left;
  line-height: 20px;
  min-width: 200px;

  color: #002d72;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.mrc-request-details img {
  float: left;
  margin-right: 12px;
  margin-top: -5px;
  max-height: 60px;
  max-width: 35px;
}

.mrc-request-details-arrow-right-container {
  float: right;
  height: 100%;
  min-height: 60px;
}

.mrc-request-details-arrow-right-container img{
  height: 30px;
  margin-top: 18px;
}

.mrc-request-details-arrow-right-container path{
  fill: gray;
}


.mrc-request-details-credit-data {
  width: 80%;
  float: left;
}

.mrc-request-details-credit-data th {
  font-weight: 300;
}

.mrc-request-details {
  padding: 20px;
  background-color: white;
  overflow: hidden;
}

.mrc-request-details-credit-data-table-step-status-approved {
  color: #74BA00;
  font-weight: 600;
}

.mrc-request-details-credit-data-table-step-status-submitted {
  color: #0099FF;
  font-weight: 500;
}

.mrc-request-details-credit-data-table-step-status-blocked {
  color: #FF5916;
  font-weight: 600;
}

.mrc-request-details-credit-data-table-action-user {
  color: #666666;
  display: block;
}

.mrc-request-details-credit-data-table-action-date {
  color: #666666;
}

.mrc-request-details-credit-data-table {
  width: 100%;
  min-width: 250px;
}

fieldset {
  border-bottom: none;
  flex-grow: 1;
}

.no-tablet .light {
  margin-left: 0px;
}

.no-tablet .mrc-request-details-credit-data-table td {
  display: block;
}

.no-tablet .mrc-request-details img {
  grid-column: 1/2;
  grid-row: 1/3;
}

.no-tablet .mrc-request-details-arrow-right-container {
  grid-column: 3/3;
  grid-row: 1/3;
}

.no-tablet .mrc-request-record {
  padding: 20px 0px;
}

.no-tablet .mrc-request-details {
  max-width: 100vw;
  display: grid;
  grid-template-areas: "mrc-customer-status-traffic-light mrc-info-row";
}

.mrc-request-record {
  padding: 0;
  border-top: 1px solid rgb(244, 244, 244);
  border-bottom: 1px solid rgb(244, 244, 244);
}

