@import '../lib/scss/colors';
@import '../lib/scss/typography';
@import '../lib/scss/variables';
@import '../lib/scss/shadows';

.body--sidescreen-open {
  height: 100%;
  margin: 0px;
  overflow: hidden;
  z-index: 10;
}

.mrc-ui-sidescreen {
  box-shadow: $shadow-modal;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100%;
  max-width: $max-width-6;
  overflow-y: scroll;
  background-color: $color-contrast-white;
  z-index: 10;
  
  // TODO: maybe another breakpoint

  @media #{$breakpoint-not-small} {
    min-width: 300px;
    width: max-content;
    max-width: $max-width-6;
  }
}

.mrc-ui-sidescreen-left {
  right: auto;
  left: 0;
}

// .mrc-ui-sidescreen-slider {}

.mrc-ui-sidescreen-header {
  align-items: center;
  background-color: $color-contrast-white;
  border-bottom: 1px solid $color-palette-grey-tint-80;
  display: flex;
}

.mrc-ui-sidescreen-title {
  flex-grow: 1;
  padding: $spacing-medium $spacing-none;
  padding-left: $spacing-large;
  color: $color-brand-primary-default;
}

// .mrc-ui-sidescreen-close-button {}

.mrc-ui-sidescreen-content {
  background-color: $color-contrast-white;
  padding: $spacing-medium;
}
