@import 'lib/scss/colors';
@import 'lib/scss/typography';
@import 'lib/scss/variables';


.mrc-ui-crtable-cell-customer-prepayment-cash {
    font-size: $font-size-5;
    text-align: center;
    font-weight: 400;
    line-height: $line-height-solid;
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: $height-4;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
