@import 'lib/scss/colors';
@import 'lib/scss/typography';

.mrc-ui-crtable-cell-customer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  font-weight: normal;
  line-height: $line-height-copy-narrow;
  color: $color-palette-grey-tint-40;
  min-height: 5rem;
  font-size: $font-size-5;
  min-height: 8rem;
}

.mrc-ui-crtable-cell-customer-highlighted {
  font-weight: bold;
}

.mrc-ui-crtable-cell-customer-name {
  display: block;
  color: $color-brand-primary-default;
  font-size: $font-size-5;
}

.mrc-ui-crtable-cell-customer-blocked {
  font-size: $font-size-10;
  display: block;
  font-weight: bold;
  color: $color-palette-red-tint-20;
}
