@import 'lib/scss/colors';

.mrc-ui-crtable-cell-highlight-color-green {
    color: $color-palette-green-shade-20 !important;
}

.mrc-ui-crtable-cell-highlight-color-red {
  color: $color-palette-red-tint-20 !important;
}

.mrc-ui-crtable-cell-highlight-color-blue {
    color: $color-brand-primary-default !important;
}
