@import "../settings";

.mrc-notification {
  width: 100%;
  color: white;

  &.error {
    background-color: $warning-orange;
  }

  &.warning {
    background-color: $metro-yellow;
  }

  &.success {
    background-color: $success-green;
  }

  .message {
    padding: 17px 19px;
  }
}
