@import "../settings";

.mrc-info-row {
  width: 100%;
  background-color: $form-bg;
  border-bottom: $form-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .infos {
    display: flex;
    flex-direction: column;

    @include respond-to('tablet') {
      flex-direction: row;
    }

    h1 {
      color: $metro-blue;
      font-size: $text-flow;
      font-weight: 500;
    }

    h2 {
      color: #666;
      font-size: $text-flow;
      font-weight: inherit;
      margin-top: 10px;

      @include respond-to('tablet') {
        margin-top: 0;
        margin-left: 12px;
      }
    }
  }

  .icon {
    display: flex;

    img {
      width: 1.5rem;
      height: 1.5rem;

      @include respond-to('tablet') {
        &.no-icon-text {
          width: 24px;
          height: 24px;
        }
      }
    }

    p {
      display: none;

      @include respond-to('tablet') {
        margin-left: 9px;
        color: $sky-blue;
        display: block;
      }
    }
  }
}
