@import "../settings";

// list of customers
.mrc-customers-details {
  background-color: $form-bg;
  font-size: $small-text;

  .details {
    margin-bottom: 2em;
  }

  h3 {
    padding-bottom: 1em;
    font-weight: 500;
    font-size: $text-flow;
  }

  dt:before {
    content: "";
    display: block;
  }

  dt, dd {
    display: inline;
  }

  dt:after {
    content: ": ";
  }

  dl, address {
    margin-bottom: 2em;
  }

  address {
    font-style: normal;
  }

  .registration-date {
    .relative:before {content: "(" }
    .relative:after {content: ")" }
  }

  // for each single customer
  .mrc-customer-details {
    padding-bottom: 32px;
  }
}
