@import '../../lib/scss/typography';
@import '../../lib/scss/variables';

.mrc-ui-crtable-header-cell-title {
  text-align: center;
  line-height: $line-height-solid;
  padding: $spacing-extra-extra-small;
}

.mrc-ui-crtable-header-cell-title-prefix {
  font-size: $font-size-10;
}
