@import '../../settings';

.mrc-request-submitted {
    h1,
    h2 {
        line-height: 2em;
    }

    dt:before {
        content: '';
        display: block;
    }

    dt {
        width: 45%;
    }

    dd {
        margin-left: auto;
        width: 55%;
        padding: 0 0 0.5rem 0.5rem;
    }

    dt:after {
        content: ': ';
    }

    dl {
        margin-bottom: 2em;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

.m-radioButton-inputIcon {
    border-radius: 0%;
}

.m-raidoButton-raidoIcon {
    border-radius: 100%;
}

.m-radioButton-input {
    position: fixed;
}

.input {
    min-width: 0px;
}

.mrc-btn-group .mrc-primary-button {
    margin-left: 0px;
    margin-right: 0px;
}

.mrc-limit-request #mrc-cancel-button {
    min-height: 3rem;
}

.mrc-credit-programs select {
    width: 100% !important;
}

.mrc-ui-col-3 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .mrc-ui-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .span-1-2 {
        grid-column: 1 / 3;
    }
    .span-1-3 {
        grid-column: 1 / 4;
    }
}

.small-margin-bottom {
    margin-bottom: 15px;
}

.small-margin {
  margin: 1rem;
}
