@import '../lib/scss/variables';
@import '../lib/scss/typography';
@import '../lib/scss/colors';

.mrc-ui-btn {
  --mrc-ui-button-color: #{$color-interaction};
  display: block;
  color: $color-contrast-white;
  background-color: var(--mrc-ui-button-color);

  position: relative;
  vertical-align: middle;
  
  font-weight: bold;
  text-align: center;

  line-height: $line-height-title;

  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  transition: background-color 125ms ease,box-shadow 125ms ease;
  border-radius: $border-radius-extra-small;

  padding: $spacing-none $spacing-large;

  min-height: $height-2-5;
  &:hover {
    background-color: $color-palette-blue-shade-20;
  }
}

////// DISABLED

.mrc-ui-btn:disabled {
  background-color: $color-palette-grey-tint-90;
  background-image: repeating-linear-gradient(40deg, transparentize($color-palette-grey-tint-80, 0.5) 0px, rgba(204, 208, 214, 0.498039) 2px, transparent 2px, transparent 10px);
  cursor: not-allowed;
}

////// SIZES

.mrc-ui-btn-small {
  padding: $spacing-none $spacing-medium;
  min-height: $height-2;
}

.mrc-ui-btn-large {
  padding: $spacing-none $spacing-extra-large;
  min-height: $height-3;
}

////// COLORS

.mrc-ui-btn-success {
  --mrc-ui-button-color: #{$color-success};
  background-color: $color-success;
  &:hover {
    background-color: $color-palette-green-shade-30;
  }
  &.mrc-ui-btn-outlined {
    
  }
}

.mrc-ui-btn-neutral {
  --mrc-ui-button-color: #{$color-neutral};
  background-color: $color-neutral;
  &:hover {
    background-color: $color-palette-grey-tint-20;
  }
}

.mrc-ui-btn-danger {
  --mrc-ui-button-color: #{$color-danger};
  background-color: $color-danger;
  &:hover {
    background-color: $color-palette-red-shade-10;
  }
}

.mrc-ui-btn-attention {
  --mrc-ui-button-color: #{$color-attention};
  background-color: $color-attention;
  &:hover {
    background-color: $color-brand-secondary-shade-10;
  }

}

/////// Outlined

.mrc-ui-btn-outlined {
  border: 2px solid var(--mrc-ui-button-color) !important;
  background: white;
  color: var(--mrc-ui-button-color) !important;
}

