@import '../../settings';

.mrc-credit-data {
    select {
        width: 100%;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: normal;
        background-color: transparent;
        z-index: 10;
        position: relative;

        option {
            font-size: 16px;
            font-weight: 300;
        }
    }

    select:disabled {
        z-index: 0 !important;
        color: #99a1ad !important;
        background-color: #f2f3f5 !important;
    }

    input:not([class*='mrc-ui-']) {
        margin-top: 5px;
        width: 100%;
        min-width: 200px;
        font-size: $text-flow;
    }

    .credit-limit input {
        background-color: transparent;
        z-index: 10;
        position: relative;
    }

    .credit-limit input:disabled {
        z-index: 0 !important;
        color: #99a1ad !important;
        background-color: #f2f3f5 !important;
    }

    .current-value {
        width: auto;
        text-align: right;
        font-weight: 400;
        position: relative;
        top: -2em;
        margin-top: 1.5em;
        margin-bottom: -2em;

        label {
            font-size: 12px;
        }
    }

    .mrc-limit-expiry {
        padding-top: 15px;

        .mrc-radio-button {
            margin: 1rem 0rem 0rem 0rem;
        }

        .date-picker-icon {
            float: right;
            margin: -1.85rem 0.75rem 0.5rem;
            position: relative;
            z-index: 2;
        }

        .react-datepicker__input-container input {
            z-index: 10;
            position: relative;
            background-color: transparent;
        }

        .react-datepicker__input-container input:disabled {
            z-index: 0 !important;
            color: #99a1ad !important;
            background-color: #f2f3f5 !important;
        }

        .react-datepicker-popper {
            z-index: 20 !important;
        }
    }

    .mrc-edit-icon {
        float: right;
        margin: -1.85rem 0.75rem 0.5rem;
        position: relative;
        z-index: 2;
    }

    .mrc-down-icon {
        float: right;
        margin: -2.85rem 0.75rem 0.5rem;
        position: relative;
        z-index: 2;
    }

    .mrc-block-list {
        grid-column: span 2;

        dt:before {
            content: '';
            display: block;
        }

        dt,
        dd {
            display: inline;
            color: red !important;
        }

        dt:after {
            content: ': ';
        }

        dl {
            margin-bottom: 2em;
        }
    }
}
