@import '../lib/scss/colors';
@import '../lib/scss/variables';
@import '../lib/scss/shadows';

.mrc-ui-toggle-box {
  border-top: 1px solid $color-palette-grey-tint-90;

  &:last-child {
    border-bottom: 1px solid $color-palette-grey-tint-90;
  }
}

.mrc-ui-toggle-box-strip {
  position: relative;
  align-items: center;
  background-color: $color-contrast-white;
  cursor: pointer;
  display: flex;
  min-height: 4.5rem;
  padding: $spacing-medium;
  transition: background-color 220ms ease-out, box-shadow 220ms ease-out;
  will-change: background-color, box-shadow;
  z-index: 1;
}

.mrc-ui-toggle-box-strip-toggled {
  background-color: $color-brand-primary-tint-90;
  box-shadow: $shadow-downwards-medium;
}

.mrc-ui-toggle-box-title-content {
  flex-grow: 1;
  padding-right: $spacing-medium;
}

.mrc-ui-toggle-box-content {
  padding: $spacing-large $spacing-medium $spacing-extra-large;
  background-color: $color-form-background-grey;
}
