@import "../settings";

.mrc-brandbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: topbar;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $light-grey;
  background-color: $metro-blue;

  .brandbar-title {
    align-self: center;
    margin: 0 auto;
    font-weight: 500;
  }
}
