@import '../lib/scss/typography';
@import '../lib/scss/variables';
@import '../lib/scss/colors';

.mrc-ui-customer-tab-title {
  @include typo-header-small-muted-caps();
  padding-left: $spacing-medium;
  background-color: $color-contrast-white;
}
