.mrc-react-table {
  padding: 1rem;

  table {
    border-spacing: 0;
    width: 100%;
    /*border: 1px solid black;*/

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th {
      font-weight: bold;
      padding: 0.5rem;
    }

    th, td {
      margin: 0;
      padding-top: 0px;
      padding-left: 5px;
      word-wrap: break-word;

      :last-child {
        border-right: 0;
      }
    }
  }

  .table-header {
    p {
      font-weight: bold;
    }

    margin-bottom: 10px !important;
  }

  .bold {
      font-weight: bold;
  }
}

