@import '../lib/scss/colors';
@import '../lib/scss/typography';

.mrc-ui-currency-symbol {
  font-weight: 400;
  color: $color-palette-grey-tint-50;
  font-size: $font-size-6;
}

.mrc-ui-currency-symbol-small {
  font-size: $font-size-8;
}
