@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-form-box {
    background-color: $color-form-background-grey;
    padding: $spacing-medium $spacing-medium;
    margin-top: $spacing-small;
}

.mrc-ui-main-content {
    padding: 0;
}

.mrc-ui-bigroup-table {
    grid-template-columns: auto max-content max-content max-content;
    thead tr:first-child th {
        grid-column: span 4;
    }
}

.mrc-ui-cell-tr {
    // text-align: right;
    // width: 100%;
}

.mrc-ui-basic-grid-table {
    display: grid;
    
    margin-bottom: $spacing-extra-extra-extra-large;

    thead,
    tbody,
    tr {
        display: contents;
    }

    th h2 {
        color: $color-palette-grey-tint-50;
    }

    .mrc-ui-basic-table-grid-customer-cell span:first-child {
        font-weight: bold;
        color: $color-brand-primary-default;
    }
    .mrc-ui-basic-table-grid-customer-cell span:last-child {
        font-weight: bold;
        font-size: $font-size-8;
        color: $color-brand-primary-tint-60;
    }

    th {
        padding: $spacing-medium;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: $color-brand-primary-tint-60;
        text-align: left;
        font-weight: bold;
        color: $color-contrast-white;
    }

    .mrc-ui-form-box-search-wrapper {
        max-width: 600px;
    }

    .mrc-ui-basic-grid-table *{
        z-index: 1;
    }

    thead tr * {
        z-index: 20;
    }
        
    thead tr:first-child th {
        background-color: $color-contrast-white;
        padding: $spacing-medium $spacing-none $spacing-none $spacing-none;
    }

    thead tr:last-child th {
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        padding: $spacing-small;
        white-space: normal !important;
        display: flex;
        align-items: flex-end;
    }

    thead tr:last-child th {
        position: sticky;
        top: 0;
    }

    @media screen and (min-width: 1350px) {
        thead tr:first-child th {
            position: sticky;
            top: var(--sticky-top);
        }
    
        thead tr:last-child th {
            position: sticky;
            top: var(--sticky-top);
        }
    }

    td {
        padding: $spacing-small;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

     button {
        z-index: 1;
    }

    tr:nth-child(even) td {
        background: $color-brand-primary-tint-95;
    }
    
    .mrc-ui-basic-grid-table-sort-icon {
        margin-left: $spacing-extra-extra-small;
    }
}