@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-form-box {
    background-color: $color-form-background-grey;
    padding: $spacing-medium $spacing-medium;
    margin-top: $spacing-small;
}

.mrc-ui-main-content {
    padding: 0;
}

.mrc-ui-bigroup-table {
    grid-template-columns: auto max-content max-content max-content;
    thead tr:first-child th {
        grid-column: span 4;
    }
}

.mrc-ui-cell-tr {
    // text-align: right;
    // width: 100%;
}
