@import '../../lib/scss/colors';
@import '../../lib/scss/variables';
@import '../../lib/scss/typography';

.mrc-ui-form-box {
    background-color: $color-form-background-grey;
    padding: $spacing-medium $spacing-medium;
}

.mrc-ui-main-content {
    padding: 0;
}

.mrc-ui-big-group {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: $spacing-extra-extra-extra-large;
}

@media screen and (min-width: 1350px) {
    .mrc-ui-big-group-right-column {
        position: sticky;
        top: var(--sticky-top);
    }
}

.mrc-ui-big-group-selecion {
    height: 100%;
}
.mrc-ui-big-group-right-column {
    height: 80vh;
}