
$mrc-ui-credicorrection-table-cell-min-width: 80px;
th {
    width: 170px;
}
// .mrc-ui-table-h {
//     width: $mrc-ui-credicorrection-table-cell-min-width;
// }

// th[class*='mrc-ui-'][colspan="2"] {
//     width: (3*$mrc-ui-credicorrection-table-cell-min-width);
// }

// th[class*='mrc-ui-'][colspan="3"] {
//     width: (3*$mrc-ui-credicorrection-table-cell-min-width);
// }