@import '../../lib/scss/typography';

.mrc-ui-crtable-head-cell-copspan-title {
    font-weight: 400;
    text-align: center;
}

.mrc-ui-crtable-header-cell-limit-colspan-prefix {
    font-size: $font-size-7;
}

.mrc-ui-crtable-header-cell-limit-colspan-title {
    font-size: $font-size-7;   
}
