@import '../lib/scss/colors';

.mrc-ui-text {
  font-weight: normal;
}

.mrc-ui-text-white {
  color: $color-contrast-white;
}

.mrc-ui-text-black {
  color: $color-contrast-black;
}

.mrc-ui-text-interaction {
  color: $color-interaction;
}

.mrc-ui-text-success {
  color: $color-success;
}

.mrc-ui-text-neutral {
  color: $color-neutral;
}

.mrc-ui-text-danger {
  color: $color-palette-red-default;
}

.mrc-ui-text-attention {
  color: $color-brand-secondary-default;
}

.mrc-ui-text-light {
  color: $color-palette-grey-tint-60;
}
