@import "../../settings";

.sap-invoices-table {}

.not-found {
  text-align: center;
}

table:not([class*='mrc-ui-'])
 {
  table-layout: inherit;
  display: block;
  overflow: auto;
}

td:not([class*='mrc-ui-']) {
  min-width: 170px;
}

th:not([class*='mrc-ui-']) {
  min-width: 170px;
}
