.mrc-details {
    padding: 1em;
    background-color: white;
}

.mrc-credit-details .mrc-block-list {
    color: red !important;
}

.mrc-ui-col-3 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
}

.mrc-ui-col-2 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .mrc-ui-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .mrc-ui-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .span-1-2 {
        grid-column: 1 / 3;
    }
    .span-1-3 {
        grid-column: 1 / 4;
    }
}

.small-margin-bottom {
    margin-bottom: 15px;
}

.additional-fields-section select:not([class*='mrc-ui-']) {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: normal;
    background-color: transparent;
    z-index: 10;
    position: relative;
}
.additional-fields-section select option:not([class*='mrc-ui-']) {
    font-size: 16px;
    font-weight: 300;
}

.additional-fields-section select:disabled:not([class*='mrc-ui-']) {
    color: #99a1ad !important;
    background-color: #f2f3f5 !important;
}
